<ol class="breadcrumb">
  <li><a href="/products">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="">Edit Product</li>
</ol>
<h1>Editing product</h1>
<%= render 'form' %>
<br>
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
